<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">

        <div class="w-1/2" id="hero1">
            <!--width 50% ,,,,,,,yo jo nicha md:text-6xl h iska mtlb h md ek braekpoint h 768px ka jis pr bhyi min-width 768px bhyi ista uper hote e text bda hojya isi property set kri h aapin. -->
            <h6 class="text-lg" id="hungry"><em>Are You Hungry?</em></h6>
            <!--tailwind css mobile first approach use kra h mtlb pehli aapi wa likhanga jo mobile m chahiye fer uski modified version likhanga jistra text-3xl pehle likhya fer baad m jo chahiye wo likhya.-->
            <h1 class="text-3xl md:text-6xl font-bold" id="hungry1">Don't wait !</h1>
            <a class="btn-primary px-6 py-2 rounded-full text-white font-bold " id="order-now" href="#menu">Order
                Now</a>
        </div>
        <div class="w-1/2" id="hero2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto items-center mb-4" id="menu">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-9">
        <% myPizza.forEach((pizza)=>{%>
        <div class=" w-full md:w-100">
            <img class="h-40 mb-4  mx-auto" src="/img/<%=pizza.image%>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%=pizza.name%></h2>
                <span class="py-1 px-4 rounded-full uppercase text-xs size"><%=pizza.size%></span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg ">₹<%=pizza.price%></span>
                    <button data-pizza="<%=JSON.stringify(pizza)%>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <!--jo uper se each pizza ka object mil rha h use convert kr diya json string me taaki app.js me use kr ske add btn press krne pr cart me data add krne k liye -->
                        <span>+</span>
                        <span class="ml-2">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <% }) %>


    </div>

</section>